<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Заказы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #1e1e2f;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
        }
        .sidebar {
            background: #2a2a3a;
            padding: 20px;
            min-height: 100vh;
        }
        .sidebar a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px;
            transition: 0.3s;
        }
        .sidebar a:hover {
            background: #44445e;
            border-radius: 8px;
        }
        .main-content {
            background: #29293d;
            padding: 20px;
            border-radius: 10px;
        }
        .kanban {
            display: flex;
            gap: 20px;
            overflow-x: auto;
        }
        .kanban-column {
            background: #3a3a5c;
            padding: 15px;
            border-radius: 8px;
            min-width: 250px;
        }
        .kanban-item {
            background: #4b4b6a;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 6px;
        }
        .btn-custom {
            background: #ffcc00;
            color: #000;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 sidebar">
                <h3>CRM</h3>
                <a href="">📦 Заказы</a>

                <a href="{% url 'warehouse' %}">📁 Склад</a>
                <a href="{% url 'debt' %}">💳 Задолженности</a>
                <a href="{% url 'money' %}">📊 Финансы</a>
                <a href="{% url 'rezident' %}">💳 Резиденты</a>
                <a href="{% url 'staff' %}">👥 Сотрудники</a>
                <a href="{% url 'apply'%}">📝 Заявки</a>
                <a href="{% url 'logout'%}"> Выйти</a>
            </nav>

            <main class="col-md-10 p-4">
                <div class="main-content">

                    <div class="d-flex justify-content-between">
                        <h2>Заказы - Самарканд</h2>
                        <button class="btn btn-custom" onclick="window.location.href='{% url 'order' %}'">Создать заказ</button>

                    </div>
                    <div class="kanban mt-4">
                         <div class="kanban-column"  data-stage="accepted" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <h5>Принят</h5>

                            {% for item in accepted %}
                            <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}" draggable="true"   onclick="window.location.href='{% url 'order_detail' item.pk %}'" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>


                        <div class="kanban-column"  ondrop="drop(event)" data-stage="design" ondragover="allowDrop(event)">
                            <h5>Проектирование</h5>
                           {% for item in design %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}" onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                       <div class="kanban-column" ondrop="drop(event)" data-stage="technologist" ondragover="allowDrop(event)">
                            <h5>Технолог</h5>
                            {% for item in technologist %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}"  onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                       <div class="kanban-column" " ondrop="drop(event)" data-stage="manufacturing" ondragover="allowDrop(event)">
                            <h5>Производство</h5>
                            {% for item in manufacturing %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}"  onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                        <div class="kanban-column"  ondrop="drop(event)" data-stage="assembly"  ondragover="allowDrop(event)">
                            <h5>Сборка</h5>
                            {% for item in assembly %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}"  onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                        <div class="kanban-column"  ondrop="drop(event)" data-stage="delivery" ondragover="allowDrop(event)">
                            <h5>Доставка</h5>
                            {% for item in delivery %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}" onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                        <div class="kanban-column" id="" ondrop="drop(event)" data-stage="order_ready" ondragover="allowDrop(event)">
                            <h5>Заказ готов</h5>
                           {% for item in order_ready %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}" onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                        <div class="kanban-column"  ondrop="drop(event)" data-stage="finished" ondragover="allowDrop(event)">
                            <h5>Завершён</h5>
                            {% for item in finished %}
                           <div class="kanban-item" id="order{{item.pk}}" data-pk="{{ item.id }}"  onclick="window.location.href='{% url 'order_detail' item.pk %}'" draggable="true" ondragstart="drag(event)">{{item.client}}<br><small>Срок: {{item.complete_order|date:"d.m.Y"}}</small></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
   <script>
function allowDrop(event) {
    event.preventDefault();
}

function drag(event) {
    event.dataTransfer.setData("text", event.target.id);
}

function drop(event) {
    event.preventDefault();

    const data = event.dataTransfer.getData("text");
    const draggedItem = document.getElementById(data);

    const dropZone = event.target.closest(".kanban-column");
    if (dropZone && draggedItem) {
        dropZone.appendChild(draggedItem);

        const stage = dropZone.dataset.stage;
        const pk = draggedItem.dataset.pk;

        fetch("{% url 'dashboard' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: new URLSearchParams({
                action: 'chief',
                stage: stage,
                pk: pk
            })
        })
        .then(res => res.json())
        .then(data => console.log("Updated:", data))
        .catch(err => console.error("Error:", err));
    }
}
</script>
</body>
</html>