{% if request.user.profile.approve %}
{% if request.user.profile.position == "admin" or request.user.profile.position == "manager" %}
    {% include 'admin.html' %}
{% elif request.user.profile.position == 'designer' %}
    {% include 'designer.html' %}
{% elif request.user.profile.position == 'technologist' %}
 {% include 'technolog.html' %}
{% elif request.user.profile.position == 'chief' %}
 {% include 'chief.html' %}
{% elif request.user.profile.position == 'installer' %}
 {% include 'dostavka.html' %}
{% elif request.user.profile.position == 'supplier' %}
 <script>
        window.location.href = "{% url 'warehouse' %}";
    </script>
{% endif %}
{% else %}
{% include 'waiting.html' %}

{% endif %}