{% if request.user.profile.approve %}
{% if request.user.profile.position == "designer_cheif" %}
    {% include 'designer_cheif.html' %}

{% elif request.user.profile.position == "designer" %}
    {% include 'designer.html' %}

{% elif request.user.profile.position == "technologist_cheif" %}
    {% include 'technolgy_chief.html' %}
{% elif request.user.profile.position == "technologist" %}
    {% include 'technology.html' %}
{% elif request.user.profile.position == "supplier" %}
    {% include 'supplier.html' %}
{% endif %}



{% else %}
{% include 'waiting.html' %}

{% endif %}